body{
    height: 100vh;
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center; 
}
.card{
    height: 254px;
    width: 190px;
    background: rgb(86,227,49);
    background: linear-gradient(25deg, rgba(86,227,49,1) 0%, rgba(148,233,228,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    l
}


.card_inside {
    height: 254px;
    width: 190px;

}
;
}